{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %}

        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                {% if edit %}
                <h1>Edit TODO</h1>
                {% else %}
                <h1>Add new TODO</h1>
                {% endif %}
                <p class="lead">You must fill in all fields and click "Save" button</p>
            </div>
          <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col col-lg-9 col-xl-7">
                <div class="card rounded-3">
                  <div class="card-body p-4">
                      <h4 class="text-center my-3 pb-3">To Do App</h4>
                        {{ form.csrf_token }}
                        {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                      <hr>
                      <a data-mdb-button-init data-mdb-ripple-init class="btn btn-primary" href="{{ url_for('index') }}" >
                          Back home
                      </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


{% include "footer.html" %}