{% include "header.html" %}

        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1>A list of all TO-DO</h1>
                <p class="lead">Main page</p>
            </div>
          <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col col-lg-9 col-xl-7">
                <div class="card rounded-3">
                  <div class="card-body p-4">
                    <h4 class="text-center my-3 pb-3">To Do App</h4>
                    <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
                      <div class="col-12">
                        <a data-mdb-button-init data-mdb-ripple-init class="btn btn-primary" href="{{ url_for('add_new_todo') }}" >
                            Add new ToDo
                        </a>
                      </div>
                    </form>
                    <table class="table mb-4">
                      <thead>
                        <tr>
                          <th scope="col">No.</th>
                          <th scope="col">Todo item</th>
                          <th scope="col">Status</th>
                           <th scope="col">Data</th>
                          <th scope="col">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for item in items %}
                        <tr>
                          <th scope="row">{{ item.id }}</th>
                          <td>{{ item.item }}</td>
                          <td>{{ item.status }}</td>
                          <td>{{ item.creation_date }}</td>
                          <td>
                            <a data-mdb-button-init data-mdb-ripple-init class="btn btn-success ms-1"
                            href="{{ url_for('show_item', item_id=item.id) }}">
                                Open
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


{% include "footer.html" %}